<body>
  
  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bienvenue sur FreeTirage </h1>
          <h2>
            Nous vous donnons la possibilités de faire du trie
            sur vos  listes importées
            <br>
             Rejoignez-nous!!!
            </h2>
          <div><a class="btn-get-started scrollto" routerLink="/tirage">Faire un tirage</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


<!-- Statistiques -->

<div>

      <nav id="navbar" class="navbar">
        <p> <i>Statistisque</i></p>
        
      </nav>
</div>

<div class="mescartes">


          <div id="c1" class="card" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title"> Nombre de liste triées</h2>
            
              <p class="card-text"></p>
              <div class="cercle">
                {{listtriees}}
              </div>
            
            </div>
          </div>


          <div id="c2"class="card" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title"> Tirages effectués sur toute les listes </h2>
            
              <div class="cercle">
                {{nb_tirage}}
              </div>
              
            
            </div>
          </div>
  </div>



  <section id="hero" class="h-flex align-items-center">
    
    <div class="A">
          <h1>Mes Listes avec Tirages effectués </h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" name="num"> N°</th>
                <th scope="col" name="nomliste">Nom Liste</th>
                <th scope="col" name="nbredetirage" >Nombre de Tirage</th>
                <th scope="col" name="dateimport" >Date d'importation</th>
                <th scope="col" name="action" >Actions</th>
              </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let l of liste  ">
                      <th scope="row">  {{l.id_list}}</th> 
                      <td>{{l.libelle}} </td>
                      <td>{{listsdetails}} </td>
                      <td>{{l.dateimport | date: "dd/MM/yyyy"}} </td>
                      <td>
                        <button  class= "btn btn-sm btn-info"  [routerLink]="['/detaill',l.id_list]"> 
                        <i  class= "fa fa-search" ></i> Détails </button> 
                      <button  class= "btn btn-sm btn-danger" > 
                        <i  class= "fa fa-remove" ></i> Supprimer 
                      </button> </td>
              </tr> -->

              <tr *ngFor="let l of liste index as i ">
                <th scope="row">{{l.id_list}}</th> 
                <td>{{l.libelle}}</td>
                <td>{{l.nombre_tirage}}Tirage</td>
                
                <td>{{l.dateimport | date: "dd/MM/yyyy"}}</td>
               
                <td>
                  <button  class= "btn btn-sm btn-info"  [routerLink]="['/detaill',l.id_list]"> 
                  <i  class= "fa fa-search" ></i> Détails </button> 
                <button  class= "btn btn-sm btn-danger"> 
                  <i  class= "fa fa-remove" ></i> Supprimer 
                </button> </td>
       
              </tr>
          </tbody>

         </table>
    </div>
    
   
  </section>

</body>