
<div>
    <p>ici/p>
</div>

<h1>et là</h1>

<section>
    <div>
        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Numero</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of postulants" >
                    <td> {{n.id_postulant}} </td>
                    <td> {{n.prenom}} </td>
                    <td> {{n.nom}} </td>
                    <td> {{n.numero}} </td>
                    <td> {{n.email}} </td>
                    
                </tr>             
            </tbody>
        </table>
        <div class="description">           
            <p>Nom : {{liste.libelle}} </p>
            <p>N° Personnes : {{nombre}} </p>
            <p>Date de Création: {{liste.dateimport | date: "dd/MM/yyyy"}} </p>
        </div>
    </div>        
    <div class="tirage">
        <h3 class="titretirage">Tirages effectués sur cette liste</h3>
        <p *ngFor="let t of tirages"><button  [routerLink]="['/detailt',t.id_tirage]"> {{t.libelle_tirage}}  </button></p>      
    </div>          
</section>

