
<div>
    <p>ici/p>
</div>

<h1>et là</h1>

<section>
    <div>
        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Numero</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of personnes">
                    <td> {{n.id_postulant}} </td>
                    <td> {{n.prenom}} </td>
                    <td> {{n.nom}} </td>
                    <td> {{n.numero}} </td>
                    <td> {{n.email}} </td>
                </tr>             
            </tbody>
        </table>
        <div class="description">           
            <p>Nom : ListeEtudiant</p>
            <p>N° Personnes : {{nombre}} </p>
            <p>Fait le : 12/03/2022</p>
        </div>:ks
    </div>        
    <div class="tirage">
        <h3 class="titretirage">Tirages effectués sur cette liste</h3>
        <button>Tirages </button>
        <button>Tirages </button>
        <button>Tirages </button>
    </div>          
</section>
