<div class="m-5">
    <table class="table">
       
        <tbody>
            <tr *ngFor="let l of meslistes| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <th scope="row">{{l.num}}</th>
                <td>{{l.nomliste}}</td>
                <td>{{l.nbredetirage}}</td>
                <td>{{l.dateimport}}</td>
                <td>{{l.action}}</td>

            </tr>
        </tbody>
    </table>
     
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="meslistes.length"></ngb-pagination>
</div>