/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    text-decoration: none;
    color: #49b5e7;
  }
  
  a:hover {
    color: #76c7ed;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Dosis", sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-top: 28px;
  }


    .tableau-style {
      border-collapse: collapse;
      min-width: 600px;
      width: auto;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.10);
      cursor: pointer;
      margin: 60px 0px 50px 100px;
      /* border: solid 2px midnightblue; */
      /* border: solid 1px #76C7ED; */
    }
  
    thead tr {
      /* background: #76C7ED; */
      color: #000;
      text-align: center;
    }
    
    th {
      padding: 15px 15px;
      
    }
    td {
      padding: 20px;
      font-weight: 600;
      width: auto;
    }
  
    section {
      display: flex;
    }
  
    .tirage {
      margin-top: 60px;
      margin-left: 10%;
      width: 100%;
    }
  
    span {
      background-color: #76C7ED;
      padding: 5px 35px;
      width: auto;
    }

    .image {
      margin-top: 40px;
    }

    img {
      width: 600px;
    }

    .description {
      margin-left: 100px;
    }

    p {
      font-weight: 600;
    }